/* :root {
    --max-grid-width: 510px;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-grid-width);
    margin: 0 auto;
}


.square{
    width: 30px;
    height: 30px;
    background-color: rgba(192, 224, 184, 0.367);
    border: 1px solid rgb(128, 128, 128);
    display: inline-block;
}

.square:hover{
    background-color: rgb(241, 36, 0);
} */


.board{
    width: 500px;
    height: 500px;
    display: grid;
}

