#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
}


.square{
    width: 30px;
    height: 30px;
    background-color: rgb(185, 230, 173);
    border: 1px solid rgb(128, 128, 128);
    display: inline-block;
}

